/* header */
.header {
  background: url('../images/back1.png') no-repeat top left;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header-menu {
  background: rgba(0, 0, 0, .5);
  padding: 20px 0;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
}
.header-title {
  font-size: 30px;
  font-family: 'Scriptina' ;
  color: #fff;
}
.menu {
  display: flex;
  justify-content: space-around;
}
.menu-items{
  min-width: 140px;
  text-align: center;
}
.menu-links {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.social-list{
  justify-content: space-between;
  display: flex;
}
.social-list-icons{
  padding-left: 28px;
}

.header-content {
  margin: 205px 0;
}
/*ombre du centre*/
.bg-shadow{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  bottom:100px;
  opacity: 0.2;
}
.header-subtitle {
  font-size: 92px;
  text-align: center;
  color: #fff;
}
.header-baseline {
  font-size: 24px;
  color: #fff;
  margin: 150px 0 90px;
  text-align: center;
  line-height: 40px;
}
.bg-line{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top:48%;
}
/*vague en pointillé*/
.bg-dashed-line{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top:50%;
}
.header-button {
  display: block;
  width: 190px;
  margin: 0 auto;
  padding: 20px 0;

  color: #fff;
  background: rgba(137, 134, 130, .6  );
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  border: 1px dashed #9e9c93;
}

/* transition entre les sections */
.bread-transition{
  background: white;
  width: 60px;
  height:60px;
  border-radius:50%;
  position: absolute; bottom: -3%; left:50%;
  transform: translateX(-50%);
}
.bread-border{
  position: absolute;
  bottom:-45%;
  left:-40%;
}
.bread{
  position: absolute; top:8px; left: 5px;
}


/*section n2 */
.box-2{
  background: url('../images/back2.png') no-repeat top left;
  background-size: cover;
  height: 760px;
  flex-wrap: wrap;
  display: flex;
}

.container-box-2{
  width: 50%;
  margin-top:100px;
  position: relative;
}

.title-box-2{
  color:#56534c;
  font-size: 48px;
  text-align: center;
  margin-bottom:10px;
  font-weight: bold;
}
.subtitle-box-2{
  color:#ac896b;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom:80px;
}
.txt-box-2{
  color:#66645d;
  font-size: 14px;
  text-align: center;
  margin-bottom: 45px;
  line-height: 24px;
}
/*"chef-cook" correspond a toute la partie du chef cuisinier*/
.chef-cook-title{
  color:#57544d;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom:44px;
}

.chef-cook-box{
  align-items: baseline;
  display: flex;
  justify-content: center;
}
/*"line" correspond aux traits au-dessus et en-dessous du nom & prenom*/
.line-1{
  position: absolute;
  top:55%;
  left:30%;
}
.name{
  color:#5a5750;
  font-size:24px;
  position: absolute;
  left:33%;
  top:59%;
}
.line-2{
  position: absolute;
  top:66%;
  left:30%;
}
.img-chef-cook{
  padding-top:20px;
  position: absolute;
  top: 50%;
}
.line-3{
  position: absolute;
  top:55%;
  left:56%;
}
.surname{
  color:#5a5750;
  font-size:24px;
  position: absolute;
  left:58%;
  top:59%;
}
.line-4{
  position: absolute;
  top:66%;
  left:56%;
}

/*"speech" est la citation*/
.speech{
  color:#ae8b6e;
  font-size:24px;
  font-family: 'Scriptina';
  margin-top:130px;
  text-align: center;
}
.quote-1{
  font-size: 60px;
  font-family: 'Times New Roman';
  position: absolute;
  top:70%;
  left:28%;
  color:#56534c;
}
.quote-2{
  font-size: 60px;
  font-family: 'Times New Roman';
  position: absolute;
  top:80%;
  left:68%;
  color:#56534c;
}

/*"diner" va correspondre aux differents attributs des 4 images de nourriture*/
.diner-box-1{
  justify-content: space-between;
  flex-wrap:wrap;
  margin-top:30px;
}
/*"diner-border"= le cadre blanc autour des images pres des marges*/
.diner-border-1{
  position: absolute;
  top:6%;
  right:64%;
}
.diner-border-2{
  position: absolute;
  top:6%;
  right:26%;
}

.diner-box-2{
  justify-content: space-between;
  flex-wrap:wrap;
}
.diner-border-3{
  position: absolute;
  top:47%;
  right:64%;
}
.diner-border-4{
  position: absolute;
  top:47%;
  right:26%;
}

/*"diner-center-img" va correspondre au fond du texte au centre des 4 images*/
.diner-center-img{
  position: absolute;
  top: 25%;
  right:45%;
  opacity: 0.9;
}
.diner-center-txt{
  color:#c9b176;
  font-size:30px;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top:40%;
  right:43%;
  transform: translateX(-50%);
}


/*section n3*/
.box-3{
  background: url('../images/back3.png') no-repeat top left;
  background-size: cover;
  height: 760px;
  display: flex;
  flex-wrap: wrap;
}

.container-box-3{
  position: relative;
  width: 1240px;
}

.pancakes-box{
  position: absolute;
  top:140px;
  left:50%;
  transform: translateX(-35%);
}
/*la note du produit est representee par les etoiles suivantes*/
.white-star-1{
  position: absolute;
  top:325px;
  left:295px;
}
.white-star-2{
  position: absolute;
  top:360px;
  left:295px;
}
.white-star-3{
  position: absolute;
  top:390px;
  left:295px;
}
.white-star-4{
  position: absolute;
  top:420px;
  left:295px;
}
.black-star{
  position: absolute;
  top:445px;
  left:295px;
}

.mill-box{
  position: absolute;
  top:140px;
  left:50%;
  transform: translateX(10%);
}
.mill-menu{
  position: absolute;
  top:390px;
  left:56%;
}
.mill{
  position: absolute;
  top:350px;
  left:80%;
  transform: translateX(-1.5%);
}
.mill-title{
  font-size: 48px;
  color: #56534c;
  position: absolute;
  top:220px;
  left:747px;
}
.mill-subtitle{
  font-size: 14px;
  color: #a98365;
  text-transform: uppercase;
  position: absolute;
  left:747px;
  top:275px;
}
.mill-informations{
  font-size:14px;
  color:#817f7a;
  position: absolute;
  left:747px;
  top:360px;
  line-height: 24px;
}

/*la note du produit de facon horizontale*/
.little-star-1{
  position: absolute;
  top:465px;
  left:750px;
}
.little-star-2{
  position: absolute;
  top:465px;
  left:770px;
}
.little-star-3{
  position: absolute;
  top:465px;
  left:790px;
}
.little-star-4{
  position: absolute;
  top:465px;
  left:810px;
}
.little-star-5{
  position: absolute;
  top:465px;
  left:830px;
}

/*"arrow" va correspondre aux fleches permettant de passer d'un element a l'autre*/
.left-arrow{
  position: absolute;
  left:744px;
  top:550px;
}
.choice-1{
  position: absolute;
  top:520px;
  left:800px;
}
.choice-2{
  position: absolute;
  top:520px;
  left:916px;
}
.choice-3{
  position: absolute;
  top:520px;
  left:1032px;
}
.right-arrow{
  position: absolute;
  top:550px;
  left:1140px;
}

/*les 4 petits points representes sous les choix*/
.point-1{
  position: absolute;
  top:630px;
  left:925px;
}
.point-2{
  position: absolute;
  top:630px;
  left:945px;
}
.point-3{
  position: absolute;
  top:630px;
  left:965px;
}
.point-4{
  position: absolute;
  top:630px;
  left:985px;
}

/*elements des 40mins*/
.fourty-mins{
  position: absolute;
}
.bg-shadow-2{
  position: absolute;
  top:-200px;
  left:800px;
  opacity: 0.3;
}
.bg-fourty-mins{
  position: absolute;
  top:120px;
  left:1135px;
}
.fourty-mins-txt-1{
  color:#a67f5f;
  font-size:16px; 
  text-transform: uppercase;
  position: absolute;
  top:150px;
  left:1195px;
}
.fourty-mins-txt-2{
  color:#a67f5f;
  font-size:16px; 
  text-transform: uppercase;
  position: absolute;
  top:150px;
  left:1260px;
}
.fourty{
  color:#dfc68d;
  font-size: 70px;
  position: absolute;
  top:180px;
  left:1200px;
}
.mins{
  color:#999486;
  font-size:16px;
  position: absolute;
  top:252px;
  left:1222px;
}


/*section n4*/
.box-4{
  background: url('../images/back4.png') no-repeat top left;
  background-size: cover;
  height: 760px;
  display: flex;
}

.container-box-4{
  position: relative;
  width: 1240px;
}

.menu-box-4{
  margin-left:30%;
  text-align: center;
}
.title-box-4{
  color: white;
  font-size:60px ;
  margin-top:70px;
  font-weight: bold;
}
.subtitle-box-4{
  font-size:18px;
  text-transform: uppercase;
  color:#c4a18f;
  margin-bottom: 75px;
  font-weight: bold;
}

.items-menu-title{
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.items-menu-informations{
  color:#aca9a7;
  font-size:16px;
  padding-top: 10px;
}
.price{
  color:#dfc68d;
  font-size:25px;
  text-transform: uppercase;
  padding-top:30px;
  margin-bottom: 55px;
}

/*"paper" fait reference aux feuilles*/
.paper-1{
  position: absolute;
  top:50%;
  transform: translateY(-50%); 
  right:25.5%;
}

.paper-2{
  position: absolute;
  top:50%;
  transform: translateY(-50%); 
  right:27%;
}

.paper-3{
  position: absolute;
  top:80px;
  left:150px;
}
.corn{
  position: absolute;
  top:535px;
  left:420px;
}
.txt-paper{
  font-size:14px;
  text-transform: uppercase;
  color:#807d76;
  position: absolute;
  top:140px;
  left:260px;
}
.date-paper{
  font-size:14px;
  text-transform: uppercase;
  color:#807d76;
  position: absolute;
  top:142px;
  left:460px;
}
.decoration-line{
  position: absolute;
  top:175px;
  left:185px;
}
.decoration-bread{
  position: absolute;
  top:188px;
  left:348px;
}

.title-paper{
  font-size: 44px;
  color:#56534b;
  font-weight: bold;
  line-height: 60px;
  position: absolute;
  top:300px;
  left:210px;
  text-align: center;
}
.informations-paper{
  font-size:14px;
  color:#56534c;
  line-height:30px;
  text-align: center;
  position: absolute;
  top:450px;
  left:250px;
}
.button-paper{
  display: block;
  width: 190px;
  margin: 0 auto;
  padding: 15px 0px;
  font-weight: bold;

  color: #a57d5c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  border: 1px solid #9e9c93;
  position: absolute;
  top:580px;
  left:280px;
}


/*section n5*/
.box-5{
  background: url('../images/back5.png') no-repeat top left;
  background-size: cover;
  height: 920px;
  display: flex;
}

.container-box-5{
  position: relative;
  width: 1240px;
}

/*petit moulin sur le titre*/
.little-mill{
  position: absolute;
  top:12px;
  left:790px;
  opacity: 1;
}

.title-box-5{
  text-align: center;
  font-size:48px;
  color:#56534c;
  margin-top:90px;
  margin-left:450px;
  position: relative;
}
.subtitle-box-5{
  color:#a47d5e;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-left:450px;
  margin-top:10px; 
}

/*image de cereale et ses elements*/
.cereal{
  padding-left:260px; 
  margin-bottom: 15px;
}
.cereal-title{
  font-size:30px;
  color:#a47d5e;
  text-align: center;
  margin-bottom: 20px;
  margin-left:-50%;
}
.cereal-txt{
  font-size:14px;
  color:#56534c;
  text-align: center;
  line-height: 20px;
  margin-bottom: 60px;
  margin-left:-50%;
}

/*image des oeufs et ses elements*/
.egg{
  padding-left:260px; 
  margin-bottom: 15px;
}
.egg-title{
  font-size:30px;
  color:#a47d5e;
  text-align: center;
  margin-left:-50%;
  margin-bottom: 20px;
}
.egg-txt{
  font-size:14px;
  color:#56534c;
  text-align: center;
  line-height: 20px;
  margin-bottom: 60px;
  margin-left:-50%;
}

/*image de fromage et ses elements*/
.cheese{
  padding-left:260px; 
  margin-bottom:15px;
}
.cheese-title{
  font-size:30px;
  color:#a47d5e;
  text-align: center;
  margin-bottom: 20px;
  margin-left:-50%;
}
.cheese-txt{
  font-size:14px;
  color:#56534c;
  text-align: center;
  line-height: 20px;
  margin-bottom: 60px;
  margin-left:-50%;
}

/*fond avec le sandwich*/
.little-sandwich-bg{
  position: absolute;
  top:260px;
  left:630px;
}

/*les ombres sous l'img du sandwich*/
.shadow-sandwich-1{
  background: #e6e2d1;
  height:10px;
  width:690px;
  position: absolute;
  top:815px;
  left:780px;
  opacity:0.5;
}
.shadow-sandwich-2{
  background: #e6e2d1;
  height:30px;
  width:210px;
  position: absolute;
  top:815px;
  left:1255px;
  opacity:0.5;
}

/*elements des 15mins*/
.back-15{
  position: absolute;
  top:240px;
  left:1260px;
}
.title-15{
  font-size:18px;
  color:#a47d5e;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top:280px;
  left:1335px;
}
.mins-15{
  font-size:60px;
  color:#56534c;
  text-transform: uppercase;
  position: absolute;
  top:310px;
  left:1326px;
}
.txt-15{
  font-size:18px;
  color:#979285;
  text-align: center;
  position: absolute;
  top:370px;
  left:1340px;
}

/*elements des 35mins*/
.back-35{
  position: absolute;
  top:445px;
  left:1260px;
}
.title-35{
  font-size:18px;
  color:#a47d5e;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top:480px;
  left:1335px;
}
.mins-35{
  font-size:60px;
  color:#56534c;
  text-transform: uppercase;
  position: absolute;
  top:510px;
  left:1332px;
}
.txt-35{
  font-size:18px;
  color:#979285;
  text-align: center;
  position: absolute;
  top:570px;
  left:1342px;
}

/*elements des 50mins*/
.bg-50-mins{
  position: absolute;
  top:635px;
  left:1260px;
}
.title-50_1{
  font-size:18px;
  color:#a47d5e;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top:665px;
  left:1315px;
}
.title-50_2{
  font-size:18px;
  color:#a47d5e;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top:665px;
  left:1385px;
}
.mins-50{
  font-size: 92px;
  color:#dfc691;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top:700px;
  left:1312px;
}
.txt-50{
  font-size:18px ;
  color:#979285;
  text-align: center;
  position: absolute;
  left:1340px;
  top:790px;;
}

.button-box-5{
  display: block;
  width: 190px;
  margin: 0 auto;
  padding: 15px 0px;
  font-weight: bold;

  color: #dfc691;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  border: 1px dashed #e9d7ae;
  background: white;
  position: absolute;
  top:785px;
  left:595px;
}


/*footer*/
.footer{
  background: url('../images/footer.png') no-repeat top left;
  background-size: cover;
  height: 240px;
  display: flex;
}

.footer-box{
  position: relative;
}

/*"line" sera les lignes au-dessus et en-dessous des textes*/
.footer-line-1{
  position: absolute;
  left:170px;
  top:100px;
}
.footer-list-1{
  flex-direction: row;
  display: flex;
  margin-left:230px; 
}.footer-items-1{
  color:#56534c;
  font-size:14px;
  text-transform: uppercase;
  padding-top:130px;
}
.footer-items-2{
  color:#56534c;
  font-size:14px;
  text-transform: uppercase;
  padding-top:130px;
  padding-left:95px;
}
.footer-items-3{
  color:#56534c;
  font-size:14px;
  text-transform: uppercase;
  padding-top:130px;
  padding-left:95px;
}
.shadow-footer-1{
  background: #eeece0;
  opacity: 0.4;
  height: 60px;
  width: 500px;
  position: absolute;
  border-radius: 25px 25px;
  top:105px;
  left:175px;
}
.footer-line-2{
  position: absolute;
  left:170px;
  top:170px;
}

.footer-title{
  color:#56534c;
  font-family: 'Scriptina' ;
  font-size: 30px;
  position: absolute;
  top:125px;
  left:150px;
}


.footer-line-3{
  position: absolute;
  left:350px;
  top:100px;
}
.footer-list-2{
  flex-direction: row;
  display: flex;
  margin-left:420px; 
}
.footer-items-4{
  color:#56534c;
  font-size:14px;
  text-transform: uppercase;
  padding-top:130px;
}
.footer-items-5{
  color:#56534c;
  font-size:14px;
  text-transform: uppercase;
  padding-top:130px;
  padding-left:95px;
}
.footer-items-6{
  color:#56534c;
  font-size:14px;
  text-transform: uppercase;
  padding-top:130px;
  padding-left:95px;
}
.shadow-footer-2{
  background: #eeece0;
  opacity: 0.4;
  height: 60px;
  width: 500px;
  position: absolute;
  border-radius: 25px 25px;
  top:105px;
  left:355px;
}
.footer-line-4{
  position: absolute;
  left:350px;
  top:170px;
}






